@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Noto Sans Arabic', serif;
		src: url('%sveltekit.assets%/fonts/NotoSansArabic-VariableFont_wdth,wght') format('truetype');
	}
}
