@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Noto Sans Arabic', serif;
		src: url('/fonts/NotoSansArabic,wght.woff2') format('woff2-variations');
	}
	@font-face {
		font-family: 'Inter', sans-serif;
		src: url('/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2-variations');
	}
}
